#textSpan {
  border: 2px solid #888;
    border-radius: 10px;
    max-width: 400px;
      display: flex;
      margin: 0 auto;
      padding: 15px;
    flex-direction: column;
    align-items: center;
 
}

.viewPost-container label, 
.viewPost-container label {
display: block;
margin-bottom: 10px;

}

.viewPost-container {

     display: flex;
    flex-direction: column;
    align-items: center;
}

.homeH {
     display: flex;
    flex-direction: column;
    align-items: center;
}

.modal {
    position: fixed;
top: 0; left: 0; width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-container label {
  display: block;
    margin: 0 auto 7px auto;
    color: white;
}

.postForm-container form {
    border: 2px solid #888;
    border-radius: 10px;
    max-width: 400px;
      display: flex;
      margin: 0 auto;
      padding: 15px;
    flex-direction: column;
    align-items: center;
}
.postForm-container label {
  margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.postTitles-container ul {
     display: flex;
    flex-direction: column;
    align-items: center;
}

.post-list {
border: 2px solid #888;
  border-radius: 10px;
  padding: 15px;
  background: #f5f5f5;
  max-width: 400px;
  margin: 0 auto;
}