<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
    <link rel="stylesheet" th:href="style.css">
    <script src="scrips.js defer"></script>
</head>
<body>
    <h1>Welcome to your diary!</h1>
    <div>
        <form method="post" th:action="@{/newPost}">
            <label >Title <input type="text" name="title"></label>

            <label>Content <input type="text" name="text"></label>
            
            <label >Date <input type="date" name="date"></label>


            <button>Save</button>
        </form>
    </div>
    <div>
        <ul>
            <li th:each=" post : ${posts}"><span th:text="${post.title}"></span></li>
        </ul>
    </div>
    
</body>
</html>